img{
    width: 200px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}   

.image::before{
    content: "";
    background: url('assets/images/spider.jpg');
    background-size: cover;
    background-position: center center;
    filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}